<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGraphDataService" />
                <binding name="BasicHttpBinding_IGraphQueryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51676/GraphDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraphDataService"
                contract="GraphDataService.IGraphDataService" name="BasicHttpBinding_IGraphDataService" />
            <endpoint address="http://localhost:51676/GraphQueryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraphQueryService"
                contract="GraphQueryService.IGraphQueryService" name="BasicHttpBinding_IGraphQueryService" />
        </client>
    </system.serviceModel>
</configuration>