<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGraphManagementService" />
                <binding name="BasicHttpBinding_IGraphDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51676/GraphManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraphManagementService"
                contract="GraphManagementService.IGraphManagementService"
                name="BasicHttpBinding_IGraphManagementService" />
            <endpoint address="http://localhost:51676/GraphDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraphDataService"
                contract="GraphDataService.IGraphDataService" name="BasicHttpBinding_IGraphDataService" />
        </client>
    </system.serviceModel>
</configuration>