<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGraphManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51676/GraphManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGraphManagementService"
                contract="Services.IGraphManagementService" name="BasicHttpBinding_IGraphManagementService" />
        </client>
    </system.serviceModel>
</configuration>